<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
      </style>
    <title>Add Song</title>
</head>
<body>
    <%- include('../partials/headers'); %>
        
        <form action="/addsong" method="post">
            <label for="title">Title of the song: </label>
            <input type="text" name="title" id="title" required>

            <label for="artistname">Name of the artist: </label>
            <input type="text" name="artistname" id="artistname" required>

            <label for="year">Year: </label>
            <input type="text" name="year" id="year" required>

            <label for="producer">Producer: </label>
            <input type="text" name="producer" id="producer" required>

            <select name="genre" id="genre" required>
                <option value="Hip-hop">Hip-Hop</option>
                <option value="Pop">Pop</option>
                <option value="Dance">Dance</option>
                <option value="House">House</option>
            </select>

            <input type="submit" value="Submit">
        </form>
</body>
</html>