<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
      </style>
    <title>Add Song</title>
</head>
<body>
    <%- include('../partials/headers'); %>
    <form>
        <h2>Add your song</h2>
        <label>Title</label>
        <input type="text" id="songtitle">
        <label>Artist</label>
        <input type="text" id="artist">
        <select name="genres" id="genres">
            <option value="hiphop">Hip-Hop</option>
            <option value="pop">Pop</option>
            <option value="dance">Dance</option>
            <option value="House">House</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>